- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install base packages
  apt:
    name:
      - git
      - openjdk-17-jdk
      - awscli
      - unzip
    state: present

- name: Ensure app user exists
  user:
    name: ubuntu
    groups: sudo
    create_home: true
